h1 {
    color:rgb(255, 192, 98);
    text-align: center;
    background: linear-gradient(0.5turn, #f2ffe1, #fefff4);
    font-style: serif;
}
div.z1 {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr; /* 3列にする．幅 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div.z2 {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr 1fr; /* 3列にする．幅 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div.b {
    background: #fbffd8;
}

pict#pt {
	display: grid; 
    float:right;
	grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    width: 400px;
}

pict#pt > p {
	border: 1px solid #efefef;
}

pict#pt > p > img {
	display: block;
	width: 100%;
}



/*img.sign {
    float: right;
}*/

