h1 {
    color:rgb(118, 225, 255);
    text-align: center;
    background: linear-gradient(0.5turn, #f6fffb, rgb(225, 236, 255));
    font-style: serif;
}
div.z1 {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr; /* 3列にする．幅 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div.z2 {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr 1fr; /* 3列にする．幅 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div.b {
    background: rgb(212, 255, 255);
}



/*img.sign {
    float: right;
}*/

