
p {
    color: black;
}

h1 {
    color: white;
    text-shadow: green 1px 0 10px;
    
}

h2,h3 {
	background: linear-gradient(0.25turn, #ecffdf, white);
	margin: 5px;
    font-style: italic;
}
div#x {
    color: #67da67;
}

a:link {
    color: pink;
}
  
a:visited {
   color: #296329;
}
  
a:hover {
   text-decoration: none;
}
